body{
    color: blue;
    background-color: #000000;
    background-image: url("C:/Users/FP/Documents/HTML/Ironce.png");
    background-size: 20% 50%;
    background-repeat: no-repeat;
    font-size: 20px;
}
html{
    font-size: 20px;
    column-rule-color: red;
}
h1{
    font-family: Roboto, sans-serif;
    font-size: 5em;
    font-style: italic;
    font-weight: bolder;
}
p{
    color: greenyellow;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}
sup{
    color: lightgreen;
    font-size: 50%;
}
html{
    color: blueviolet;
}