body{
    width: 1000px;
    text-align: center;
    padding-left: 15%;
    margin-top: 100px;
    background-color: aquamarine;
}
nav{
    background-color:lightgrey;
    margin:10px;
    padding:10px;
    border:2px solid black;
    border-radius:5px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a{
    text-decoration: none;
    color: inherit;
}
ol{
    background-position: 0%;
    background-size: cover;
    font-size:0;
    padding: 0;
}
li{
    background-color: black;
    display:inline-block;
    font-size:20px;
    text-align: center;
    width: 16.66%;
    color: white;
}
li:hover{
    color: black;
    background-color: lightgreen;
}
header, footer{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}
body>ol>li{
    text-align: left;
    display: inline-block;
    font-size: 20px;
    width: 80%;
    height: 333px;
    border: 1px solid black;
    border-right: 0px;
    margin: 25px;
    background-color: white;
}
img{
    padding: 2%;
    text-align: start;
}