body{
   background-color: white;
}
nav{
    background-color:lightgrey;
    margin:10px;
    padding:10px;
    border:2px solid black;
    border-radius:5px;
}
a{
    text-decoration: none;
    color: inherit;
}
ol{
    background-position: 0%;
    background-size: cover;
    font-size:0;
    padding: 0;
}
li{
    background-color: black;
    display:inline-block;
    font-size:20px;
    text-align: center;
    width: 16.66%;
    color: white;
}
li:hover{
    color: white;
    background-color: blue;
}
h1:hover{
    color: black;
    background-color: aqua;
}
header, footer{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 5px solid green;
}