body{
    background-color: lightblue;
}
h1{
    text-align: center;
    font-size: 40px;
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header, main, footer{
    background-color: lightpink;
}
main{
    margin: 10px;
    padding: 10px;
}
header, footer{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}
footer a{
    color: darkblue;
    padding: 5px;
    font-weight: bold;
}