nav{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
nav>ol{
    background-position: 0%;
    background-size: cover;
    font-size: 0;
    padding: 0;
}
nav>ol>li{
    background-color: black;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 16.66%;
    color: white;
}
nav>ol>li:hover{
    color: black;
    background-color: lightgreen;
}