body{
    margin: 0 auto;
    text-align: center;
    width: 800px;
    background-image: url(Enlaces.jfif);
    background-size: auto;
}
a{
    color: inherit;
    text-decoration: none;
}
ol{
    padding: 0;
}
h1{
    color: bisque;
}
h1:hover{
    color: antiquewhite;
}
h1:active{
    color: aqua;
}
li{
    display: inline-block;
    width: 7%;
    margin: 4.5%;
    border: 2px solid black;
    padding: 10px;
    background-color: greenyellow;
}
li:hover{
    background-color: aquamarine;
    color: red;
}
li:active{
    color: aquamarine;
    background-color: red;
}